* text=auto eol=lf

*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.c text eol=lf
*.h text eol=lf
*.py text eol=lf
*.sv text eol=lf
*.v text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
